<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment>

      <baseAddressPrefixFilters>

        <add prefix="http://www.skillassurertd.com/paymentgatewaywebhost/" />

      </baseAddressPrefixFilters>

    </serviceHostingEnvironment>
    <bindings>
      <wsHttpBinding>
        <binding name="TrxFlow" transactionFlow="true"/>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="Binding1">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="PaymentGateway.PaymentService">

        <host>
          <baseAddresses>
            <add baseAddress="PaymentGatewayService.svc/PaymentGateway/" />
          </baseAddresses>
        </host>
        <endpoint
          address="paymentservice"
          binding="basicHttpBinding"
          name="ws"
          
          contract="PaymentGateway.IPaymentService">
          <identity>
            <dns value="http://www.skillassurertd.com/"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
