<?xml version="1.0"?>

<configuration>
    <system.web>
      <authorization>
        <allow roles ="administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>

    <location path="ddlevelsfiles">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
</configuration>
