<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HappyTrip.Model.BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <HappyTrip.Model.BusinessLayer.Properties.Settings>
      <setting name="HappyTrip_Model_BusinessLayer_HappyMilesService_HappyMilesProgram"
        serializeAs="String">
        <value>http://www.skillassurertd.com/AirlinesMilesProgramService/HappyMilesProgram.asmx</value>
      </setting>
    </HappyTrip.Model.BusinessLayer.Properties.Settings>
  </applicationSettings>
</configuration>