<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="CurrentLogger" value="email"/>
    <add key="event" value="HappyTripEventLogger.dll,HappyTripEventLogger.EventLogger" />
    <add key="file" value="HappyTripFileLogger.dll,HappyTripFileLogger.FileLogger,textlog.txt"/>
    <add key="xml" value="HappyTripXmlLogger.dll,HappyTripXmlLogger.XmlLogger,xmllog.xml"/>
    <add key="email" value="HappyTripEmailLogger.dll,HappyTripEmailLogger.EmailLogger,From:admin@happytrip.com#To:manager@happytrip.com#SmtpServer:=dir"/>
    
    <!--Keys for DAO objects-->
    <add key="airlineDAO" value="HappyTrip.DataAccessLayer.AirTravel.AirlineDAO"/>
    <add key="flightDAO" value="HappyTrip.DataAccessLayer.AirTravel.FlightDAO"/>
    <add key="routeDAO" value="HappyTrip.DataAccessLayer.AirTravel.RouteDAO"/>
    <add key="scheduleDAO" value="HappyTrip.DataAccessLayer.AirTravel.ScheduleDAO"/>
  
    <!--Keys for Manager Objects-->
    <add key="CityManager" value="HappyTrip.Model.BusinessLayer.AirTravel.CityManager"/>
    <add key="ScheduleManager" value="HappyTrip.Model.BusinessLayer.AirTravel.ScheduleManager"/>
    <add key="RouteManager" value="HappyTrip.Model.BusinessLayer.AirTravel.RouteManager"/>
    <add key="FlightManager" value="HappyTrip.Model.BusinessLayer.AirTravel.FlightManager"/>
    <add key="AirLineManager" value="HappyTrip.Model.BusinessLayer.AirTravel.AirLineManager"/>

    <!--Booking DAO Types-->
    <add key="bookingDAOTypes" value="1:HappyTrip.DataAccessLayer.Transaction.AirTravelBookingDAOImpl"/>
    
    <!--Flight Class Details-->
    <add key="flightclasses" value="economy:200;business:50"/>
    
  </appSettings>
  <!--<configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="HappyTripConnectionString" />
  -->
  <connectionStrings>
    <!-- Please Change the data source to 172.22.1.189 an the corresponding database-->
    <!-- Connecction string for virtual server: data source=HappyTrip.db.11062138.hostedresource.com;Initial Catalog=HappyTrip;User Id=HappyTrip;Password=P@van1983;-->
    <!-- <add name="HappyTripConnectionString" connectionString="data source=HappyTrip.db.11062138.hostedresource.com;Initial Catalog=HappyTrip;User Id=HappyTrip;Password=P@van1983;" providerName="System.Data.SqlClient" /> -->
    <!--<add name="HappyTripConnectionString" connectionString="data source=ARISTOTLE\SQLEXPRESS;Initial Catalog=HappyTrip2005Clean;User Id=sa;Password=pwd123" providerName="System.Data.SqlClient" />-->
    <add name="HappyTripConnectionString" connectionString="data source=ADMIN-PC\SQLEXPRESS;Integrated Security=true;Initial Catalog=Final_Iteration" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
  
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl ="~/index.aspx"/>
    </authentication>

    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HappyTripConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/HappyTrip" />
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider" inherits="HappyTrip.Model.Entities.UserAccount.ProfileCommon">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="HappyTripConnectionString" applicationName="/HappyTrip"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HappyTripConnectionString" applicationName="/HappyTrip" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/HappyTrip" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <!-- WCF Service configuration  -->
  <!--
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ws" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            useDefaultWebProxy="true" allowCookies="false">
          <security>
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:11111/PaymentGatewayService.svc/paymentservice"
          binding="wsHttpBinding" bindingConfiguration="ws" contract="PaymentGateway.IPaymentService"
          name="ws"/>
    </client>
  </system.serviceModel>
  -->
</configuration>
